extends layout

block content
  .container
    .row
      .col-md-3.left
        ul.list-group
          li.list-group-item 1234
          li.list-group-item 1234
          li.list-group-item 1234
          li.list-group-item 1234
          li.list-group-item 1234
          li.list-group-item 1234

  
      .col-md-3
        .panel.panel-default    
          .panel-heading Items 
            small.pull-right
              a.btn.btn-default.btn-xs
                span.glyphicon.glyphicon-search(aria-hidden='true')
          .panel-body search form 
          ul.list-group.left.left3
            li.list-group-item Антон XXXXXXXXXXXXXXX
                span.badge 12
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234
            li.list-group-item 1234          

      .col-md-6
        h3 Demo 
          small.pull-right
            a.btn.btn-primary Save
            | 
            a.btn.btn-default Delete
        div
          ul.nav.nav-tabs(role='tablist')

            li.active(role='presentation')
              a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Home
            |     
            li(role='presentation')
              a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Profile
            |     
            li(role='presentation')
              a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
            |     
            li(role='presentation')
              a(href='#settings', aria-controls='settings', role='tab', data-toggle='tab') Settings


          .tab-content
            #home.tab-pane.active(role='tabpanel').left2.left
              div
                h4 Main
                .well
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello
                  p hello




            #profile.tab-pane(role='tabpanel') 2
            #messages.tab-pane(role='tabpanel') 3     
            #settings.tab-pane(role='tabpanel') 4

script.
  $('.nav-tabs a').click(function (e) {
    //e.preventDefault()
    $(this).tab('show');
    return false;
  })