doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='../../assets/ico/favicon.png')
    title Demo
    // Bootstrap core CSS
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css', rel='stylesheet')

    // Custom styles for this template
    link(href='/stylesheets/style.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy this line!
    //if lt IE 9
      script(src='../../docs-assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .navmenu.navmenu-default.navmenu-fixed-left.offcanvas-sm
      a.navmenu-brand.visible-md.visible-lg(href='#') Project name
    
      ul.nav.navmenu-nav.left.left1
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li
          a(href='#') Link
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Dropdown 
            b.caret
          ul.dropdown-menu.navmenu-nav
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li.dropdown-header Nav header
            li
              a(href='#') Separated link
            li
              a(href='#') One more separated link
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Dropdown 
            b.caret
          ul.dropdown-menu.navmenu-nav
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li.divider
            li.dropdown-header Nav header
            li
              a(href='#') Separated link
            li
              a(href='#') One more separated link


    .navbar.navbar-default.navbar-fixed-top.hidden-md.hidden-lg
      button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='.navmenu')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Project name

    block content



    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js')
